---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Noviembre 2021 - Actualmente...",
    title: "Backend Developer",
    company: "Inchcape Digital",
    description:
      "Lider de equipo de desarrollo. Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de los sitios web, disminui los tiempos de desarrollo dentro del equipo al implementar nuevas estrategias.",
    link: "https://www.inchcape.com/es-co/",
  },
  {
    date: "Marzo 2021 - Noviembre 2021",
    title: "freelance ",
    company: "",
    description:
      "Responsable de la creacion y desarrollo de multiples sitios web para empresa pequeñas segun las necesidades de los clientes.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
