---
import ExperienceItem from "./ExperienceItem.astro"
const info = {...Astro.props.info}
const EXPERIENCIE = info.experience
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie:any) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
