---
const infoPasos = {...Astro.props.info}
---

<div class="auto-rows-auto">

    <div class="container mx-auto md:grid md:grid-cols-2 gap-12 p-5 items-center">
        <div class="">
            <img src={infoPasos.img} alt={infoPasos.textAlt} class="">
        </div>
        <div class="">
          <p>{infoPasos.text}</p>
        </div>
    </div>

</div>